@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-tan-two rounded-full
  }
}

:root {
  --green-one: #103c00;
  --green-two: #35711f;
  --green-three: #60a543;
  --green-four: #e6efc5;

  --tan-one: #4f463c;
  --tan-two: #e7cbaf;

  --grey-one: #333333;
  --grey-two: #808080;
  --grey-three: #f2f2f2;
}


body {
  color: var(--green-one);
  background: rgb(255,255,255);
}

.nav {
  font-size: 14px;
  max-width: 1000px;
}
.nav > a {
  padding: 0px 50px 0px 50px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
